body {
  color: #454546;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
.wrapper {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 24px;
  width: 960px;
}
.grid-container {
  display: grid;
  grid-gap: 24px 24px;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
}
h1 {
  background-color: #f15c22;
  color: #fff;
  font-size: 48px;
  font-weight: 300;
  margin: 72px 0;
  margin-left: -18px;
  padding: 18px;
}
h2 {
  color: #323333;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.025rem;
  margin: 36px 0;
  text-transform: uppercase;
}
h3 {
  color: #323333;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.025rem;
  margin: 27px 0;
  text-transform: uppercase;
}
p {
  line-height: 1.5em;
  margin: 27px 0;
}
a {
 color: #444545;
 font-weight: bold;
}
form input[type=text],
form textarea {
  border: 1px #ced1d1 solid;
  border-radius: 4px;
  color: #454546;
  font-size: 16px;
  padding: 12px;
}
::placeholder {
  color: #ced1d1;
}
.introductory-text-block {
  grid-column: span 7;
}
.grid-placeholder {
  grid-column-end: -1;
}
.gallery-card {
  grid-column: span 4;
}
.gallery-card h3 {
  margin-top: 0px;
}
.gallery-card a {
  line-height: 0;
}
.gallery-card-url {
  border: none;
  box-sizing: border-box;
  color: #8e9191;
  font-size: 14px;
  text-align: center;
  overflow: auto;
  padding: 0 12px;
  margin: 21px 0;
  width: 100%;
}
.gallery-some-icons {
  color: #444545;
  font-size: 12px;
  margin: 0 0 18px 0;
  text-align: center;
}
.gallery-card-thumbnail {
  background: #eee;
  border-left: 6px #fec92f solid;
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 100%;
}
.gallery-play-button {
  color: #fff;
  color: rgba(255,255,255, 0.96);
  font-size: 500%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.gallery-card:nth-of-type(2n) .gallery-card-thumbnail {
  border-left: 4px #569442 solid;
}
.gallery-card:nth-of-type(3n) .gallery-card-thumbnail {
  border-left: 4px #d31773 solid;
}
.gallery-card:nth-of-type(4n) .gallery-card-thumbnail {
  border-left: 4px #1884c7 solid;
}
.gallery-button-container {
  grid-column: span 4;
}
.gallery-button {
  background: #f9f9fa;
  border: 1px #ced1d1 solid;
  box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
  box-sizing: border-box;
  display: block;
  margin-top: 47px;
  padding: 66.6% 0 0 0;
  position: relative;
  width: 100%;
}
.gallery-button span {
  bottom: 50%;
  color: #8e9191;
  font-size: 24px;
  font-weight: bold;
  left: 50%;
  letter-spacing: 0.025rem;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  transform: translate(-50%,50%);
  width: 100%;
}
.gallery-button:hover {
  bottom: 2px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  cursor: pointer;
}
.create-card-form {
  grid-column: span 6;
}
.create-card-form h3 {
  margin-top: 0;
}
.create-card-form input,
.create-card-form textarea {
  box-sizing: border-box;
  margin: 6px 0 6px 0;
  resize: none;
  width: 100%;
}
.create-card-form textarea {
  height: 108px;
}
.form-previews {
  grid-gap: 12px;
  margin: 6px auto;
  width: 100%;
}
@media screen and (max-width: 1024px) {
  .wrapper {
    width: auto;
  }
  h1 {
    margin-left: -24px;
  }
}
@media screen and (max-width: 839px) {
  .grid-container {
    grid-gap: 24px;
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (max-width: 719px) {
  .wrapper {
    padding: 24px 16px;
  }
  h1 {
    margin-left: -16px;
  }
  .grid-container {
    grid-gap: 16px;
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (max-width: 479px) {
  .grid-container {
    grid-gap: 16px;
    grid-template-columns: repeat(4, 1fr);
  }
  .introductory-text-block {
    grid-column: span 4;
  }
  .grid-placeholder {
    display: none;
  }
}
